<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <title>Danh sách ảnh</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <!--[if lt IE 9]>
		<script src="{{ url_for('static',filename='js/html5shiv.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        {% include 'head_side_bar.html' %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Danh sách ảnh</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
						<div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                    </tr>
                                    <tr>
                                        <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                         <td>
											<img width="100" height="180" src="https://cdn.images.express.co.uk/img/dynamic/67/590x/secondary/Partizan-vs-Man-Utd-LIVE-Europa-League-score-goals-and-updates-2128324.jpg?r=1571959598127" alt="">
										</td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
                    </div>
                </div>
            </div>
        </div>
		<div id="delete_employee" class="modal fade delete-modal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="assets/img/sent.png" alt="" width="50" height="46">
						<h3>Are you sure want to delete this Employee?</h3>
						<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static',filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/dataTables.bootstrap4.min.js') }}"></script>
</body>

</html>